div.calculator {
    width: 60%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 6% auto 0;
}

form.input-form {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px dotted black;
}

form.input-form > * {
    display: flex;
    flex-direction: column;

}

.input-field, button {
    min-height: 30px;  /* Example height */
    padding: 6px;  
    border:  1px solid #ccc;
    margin: 5px 0;
}

div.button-container {
    align-self: flex-end;
}

